<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8" />
	</head>
	<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
		<!-- フッター -->
		<div th:fragment="layout-footer">
			<div class="module-small bg-dark">
				<div class="container">
					<div class="row">
						<div class="col-sm-3">
							<div class="widget">
								<h5 class="widget-title font-alt">About The Shop</h5>
								<p>Created by <a href="#"> Jinichiro Koto</a></p>
								<p>Email: <a href="mailto:ktjn1129@gmail.com"> ktjn1129@gmail.com</a></p>
								<p>GitHub: <a href="https://github.com/ktjn1129">https://github.com/ktjn1129</a></p>
								<p>Framework: <a href="https://spring.io/"> Spring Boot 2.7.1</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr class="divider-d">    
			<footer class="footer bg-dark">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<p class="copyright font-alt">&copy; 2022&nbsp;<a href="#">Jinichiro Koto</a>, All Rights Reserved</p>
						</div>
					</div>
				</div>
			</footer>
			<div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
		</div>
	</body>
</html>