<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8" />
	</head>
	<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
		<!-- ナビゲーションバー -->
		<div th:fragment="layout-header" class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse">
					<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
					<span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}">The Shop</a>
			</div>
			<div class="collapse navbar-collapse" id="custom-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown" th:if="${session.user != null}">
						<a th:href="@{/user/detail}">ようこそ、<span th:text="${session.user.name}"></span> 様</a>
					</li>
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Products</a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/}">商品一覧</a></li>
							<li><a th:each="category: ${categories}" th:text="${category.name}"
								 th:href="@{/item/list(sortType=1, categoryId=${category.id})}"></a></li>
						</ul>
					</li>
					<li class="dropdown" th:if="${session.user != null}">
						<a class="dropdown-toggle" data-toggle="dropdown"><span class="icon-profile-male"></span></a>
						<ul class="dropdown-menu" th:if="${session.user != null}">
							<li><a th:href="@{/user/detail}">アカウント情報</a></li>
							<li><a th:href="@{/favorite/list}">お気に入りリスト</a></li>
							<li><a th:href="@{/order/list}">ご注文履歴</a></li>
							<li><a th:href="@{/logout}">ログアウト</a></li>
						</ul>
					</li>
					<li class="dropdown" th:if="${session.user == null}">
						<a class="dropdown-toggle" data-toggle="dropdown"><span class="icon-profile-male"></span></a>
						<ul class="dropdown-menu" th:if="${session.user == null}">
							<li><a th:href="@{/login}">ログイン</a></li>
							<li><a th:href="@{/user/regist/input}">新規会員登録</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a th:href="@{/basket/list}"><span class="icon-basket"></span></a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
