<!DOCTYPE html>
<html lang="ja" dir="ltr" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout :: layout(~{::body/content()})}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>アカウント情報 | Shop</title>
	</head>
	<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
		<main>
			<div class="main">
				<!-- メインビジュアル -->
				<section class="module bg-dark-30" data-background="">
					<div class="container">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<h1 class="module-title font-alt mb-0">Account</h1>
							</div>
						</div>
					</div>
				</section>
				<!-- 会員詳細 -->
				<section class="module">
					<div class="container">
						<div class="col-sm-6 col-sm-offset-3 mb-sm-40">
							<h4 class="font-alt">アカウント情報</h4>
							<hr class="divider-w mb-20">
							<ul class="list-unstyled">
								<li class="mb-20">
									<span>メールアドレス</span><br>
									<span th:text="${user.email}"></span>
								</li>
								<li class="mb-20">
									<span>氏名</span><br>
									<span th:text="${user.name}"></span>
								</li>
								<li class="mb-20">
									<span>郵便番号</span><br>
									<span th:text="${user.postalCode}"></span>
								</li>
								<li class="mb-20">
									<span>住所</span><br>
									<span th:text="${user.address}"></span>
								</li>
								<li class="mb-20">
									<span>電話番号</span><br>
									<span th:text="${user.phoneNumber}"></span>
								</li>
							</ul>
							<div class="row mt-40">
								<div class="col-sm-3">
									<form th:action="@{/user/update/input/}" method="post">
										<input type="hidden" name="id" th:value="${user.id}"/>
										<input type="hidden" name="backFlg" th:value="false"/>
										<input class="btn btn-round btn-g" type="submit" value="変更"/>
									</form>
								</div>
								<div class="col-sm-3">
									<form th:action="@{/user/delete/check/}" method="post">
										<input type="hidden" name="id" th:value="${user.id}"/>
										<input class="btn btn-round btn-g" type="submit" value="退会"/>
									</form>
								</div>
								<div class="col-sm-3">
									<form th:action="@{/}">
										<input class="btn btn-round btn-g" type="submit" value="戻る"/>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</main>
	</body>
</html>